<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}  
		{{ form.as_p }}             
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <a href="{% url 'owners' %}">view orders</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <title>GaikaShop</title>
    <meta charset="utf-8" />
    <img src="{% static "images/gaika.png" %}" alt="gaika" >
    <a href="{% url 'buy' %}">create order</a>
</head>
<body>
    <h2>Hello you on GaikaShop</h2>
    <h1>Gaika 1</h1>
    <p>10 kod</p>
    <h1>Gaika 1</h1>
    <p>11 kod</p>
    <h1>Gaika 1</h1>
    <p>12 kod</p>
    <h1>Gaika 1</h1>
    <p>13 kod</p>
    <h1>Gaika 1</h1>
    <p>14 kod</p>
    <h1>Gaika 1</h1>
    <p>15 kod</p>
</body>
</html>